@using Tweetinvi.Models
@{
    ViewData["Title"] = "Mentions";
}

<h2>Mentions</h2>

@{
    var user = ViewBag.User as IAuthenticatedUser;
    var tweets = user.GetMentionsTimeline();
    var myReplies = user.GetHomeTimeline();

}

@foreach (var v in tweets)
{
<a class="mentíonLink" href="/Tweet/FuzzyMatches/@v.Id">
    <div class="mention">
        @{
            var hasReply = false;
        }
        @foreach (var t in myReplies)
        {
            if (t.InReplyToStatusId == v.Id)
            {
                hasReply = true;
                break;
            }
        }
        @if (hasReply)
        {

            <span class="repliedTo hasReply">✔️</span>
        }
        else
        {

            <span class="repliedTo hasNotReply">❌</span>
        }
        <span>@v.Text</span>
        <span> - </span>
        <span class="screenName">@v.CreatedBy.ScreenName</span>
    </div>
</a>
}
