@model  IEnumerable<CommentReply>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CommentId</th>
            <th>CommentText</th>
            <th>ReplyText</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.CommentId</td>
                <td>@v.CommentText</td>
                <td>@v.ReplyText</td>
            </tr>
        }
    </tbody>
</table>