/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mention {
    color: black;
    width: 400px;
    margin: 10px;
    padding: 10px 0;
    border-style: solid;
    border-width: 3px;
    border-color: #0084b4;
}

.repliedTo {
    margin-right: 10px;
    padding: 14px 10px;
    border-right: 3px solid #0084b4;
    background-color: forestgreen;
}

.hasReply {
    background-color: forestgreen;
}

.hasNotReply {
    background-color: darkred;
}


.screenName {
    font-size: 11px
}

div.mention:hover {
    background-color: #1dcaff;
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
